a {
  text-decoration: none;
  color: black;
}
.botoesInformacoes > a:hover {
  color: white;
  font-size: 110%;
  transform: scale(1.5);
  transition: 3ms;
}
.botoesInformacoes {
  padding: 10px;
  border: 1px solid black;
  background-color: #4169e1;
  border-radius: 5px;
  width: 130px;
  height: 50px;
  gap: 5px;
  justify-content: center;
  margin: 10px;
}
