.logo {
  background-image: url('https://s0.smartresize.com/wallpaper/963/804/HD-wallpaper-programmer-eat-sleep-code-repeat.jpg');
  background-size: 350px;
  background-position: 10px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: right;
  height: 160px;
  width: 100%;
  color: white;
  border: solid #afafaf 1px;
  border-radius: 2px;
}
.imagemCapa {
  width: 150px;
  margin-top: 10px;
  align-items: flex-end;
}

.botaoApresentacao {
  padding: 10px;
  border: 1px solid black;
  background-color: #4169e1;
  border-radius: 5px;
  width: 130px;
  height: 50px;
  gap: 5px;
  justify-content: center;
  margin: 10px;
}
